---
import "../../global.css";
import "../../other.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
export interface Props {
	title: string;
	description?: string;
	image?: string;
	noContainer?: boolean;
}
const { title, description, image, noContainer } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta
			name="description"
			content={description ||
				"Zero in on  social media presence by checking out their  profiles, featuring photos and engaging content"}
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@site" />
		<meta name="twitter:creator" content="@handle" />
		<meta property="fb:app_id" content="281985576166744" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content="https://kloun.lol/" />
		<meta property="og:type" content="article" />
		<meta
			property="og:image"
			content={image || "https://kloun.pages.dev/images/og.jpg"}
		/>
		<meta property="og:image:alt" content="Og Image Alt" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="800" />
		<meta property="og:image:height" content="600" />
		<meta property="og:site_name" content="kloun.lol" />
		<meta
			name="theme-color"
			media="(prefers-color-scheme: light)"
			content="light"
		/>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5476404733919333"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div class="flex flex-col h-screen">
			<Header />

			<dialog>
				<h2>Subscribe to our newsletter</h2>

				<button class="close-modal" value="cancel">No Thanks</button>
			</dialog>
			{
				noContainer ? (
					<main class="flex z-20 grow">
						<slot />
					</main>
				) : (
					<main class="container mx-auto z-20 grow px-1">
						<slot />
					</main>
				)
			}

			<Footer />
		</div>

		<script id="rendered-js" is:inline>
			function fbshare(url) {
				window.open(
					"http://www.facebook.com/sharer.php?u=" +
						encodeURIComponent(url),
					"sharer",
					"toolbar=0,status=0,width=626,height=436"
				);
				return false;
			}
			//# sourceURL=pen.js
		</script>
	</body>
</html>
