---
import Layout from "../layouts/Layout.astro";
---
<Layout title="userz dot net.">
	 <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pl-8 lg:pr-0 xl:px-16">dasdas</div>
</Layout>