---
export const prerender = false;
import db from "../../../../data/client";
// function checkNumeric(str: string): boolean {
//   const chars: string[] = str.split('');
//   console.log('chars', chars);
//   const nums: string[] = chars.filter((char: string) => !isNaN(parseInt(char)) && char !== ' ');
//   console.log('nums', nums);
//   return nums.length > chars.length / 2;
// }

const { id } = Astro.params as { id: string };
const data = await db.get(id);
const { title, content, html, type } = data as {
	title: string;
	content?: string;
	html: string;
	type: string;
};
const parsed = content
	? JSON.parse(content).html.map((x: string) => ({
			type: "p",
			content: x,
	  }))
	: html;
---

<head>
	<meta charset="UTF-8" />
</head>
<div>
	<h1 class="font-bold sm:text-2xl md:text-4xl" id="title">{title}</h1>
	<article class="leading-relaxed" id="article">
		{
			parsed.map(({ type, content }: { type: string; content: string }) =>
				type === "p" ? <p>{content}</p> : <img src={content} />
			)
		}
	</article>
	{type}
	<div id="emp">{type === "NewsBG" ? "император" : "emperor"}</div>
</div>
