---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const { username } = Astro.params;

import db from "../../../kloun/data/client";
import { descriptions, titles } from "../components/seo";
//const pagenum = id ? Number(id.split("_")[1]) : 1 || 1;
 
const datax = await db.view("twitter/exist", {
     update: "lazy",
     start_key: username+"_tw",
     include_docs:true,
     limit:10
});

 
const data = datax.rows[0]
const reposts = Array.from(
     new Set(
          data.tweets
               .filter((item: {originalPoster:string}) => item.originalPoster)
               .map(
                    (user: { originalPoster: { screenName: string } }) =>
                         user.originalPoster.screenName + "_tw"
               )
     )
) as string[]
const key = username?.charAt(0).toLowerCase() || '' as string
const title = titles[key].replace(
     "[username]",
     username
) 
const mdescription = descriptions[key].replace(
     "[username]",
     username
);
---

<Layout title={title} description={mdescription}>
     <main>
          <code class="text-gradient text-xl font-bold">userz.net/{username}</code>
          <p class="instructions">
               {data.description}
          </p>
     
          <h1 class="text-gradient">friends</h1>
          <ul role="list" class="link-card-grid">
               {reposts.map((fr) => (
                    <Card
                         href={"https://kloun.lol/tw/u/" + fr.replace("_tw", "")}
                         title={fr.replace("_tw", "").toLowerCase()}
                         body=""
                    />
               ))}
               </ul>
          <h1 class="text-gradient">similar</h1>
          <ul role="list" class="link-card-grid">
               {
                    datax.rows.map((x: { id: string }) => (
                         <Card
                              href={"/" + x.id.replace("_tw", "")}
                              title={x.id.replace("_tw", "").toLowerCase()}
                              body="Supercharge your project with new frameworks and libraries."
                         />
                    ))
               }
          </ul>
     </main>
</Layout>
