---
export const prerender = false
import db from "../../../kloun/data/client";
import CatButton from "../components/CatButton.astro";
import RudSense from "../components/RudSense.astro";
import { slugify } from "../components/utils/formatter";
import Layout from "../layouts/Layout.astro";
const catsx = await db.view("joke/cat", {
    reduce: true,
    update: "lazy",
    group: true,
    cache: 864000,
});
 
// const memesx = fetch(
// 	"https://pr0gramm.com/api/items/get?flags=1&promoted=1"
// ).then((res) => res.json());
 
const cats = catsx.rows
    .filter((x: { value: number }) => x.value > 1)
    .map((x: { key: string; value: number }) => ({
        cat: x.key.replace("JOK", ""),
        slug: slugify(x.key.replace("JOK", "").replace('ъ',' ')),
        count: x.value,
    }))
    .sort((a: { count: number }, b: { count: number }) => b.count - a.count);
---

<Layout
    title="Вицове и забавни котки и мемета"
    description="Вицове и забавни котки и мемета"
    hideFooter={true}
>
    <RudSense />
    <h1 class="text-5xl text-gradient">Вицове</h1>
    <div class="my-3 flex w-full flex-wrap gap-3">
        {
            cats.map(
                ({
                    cat,
                    slug,
                    count,
                }: {
                    cat: string;
                    slug: string;
                    count: number;
                }) => (
                    <CatButton title={cat} url={"/cat/" + slug} count={count} />
                )
            )
        }
    </div>
</Layout>
