<div class="relative py-14">
    <div class="w-full absolute z-10 bottom-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="w-full z-10 hidden dark:block">
            <path fill="#00b894" d="m0 224 48 10.7C96 245 192 267 288 240c96-27 192-101 288-96s192 91 288 101.3c96 10.7 192-53.3 288-90.6 96-37.7 192-47.7 240-53.4l48-5.3v224H0Z"></path>
        </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="w-full z-10 dark:hidden block">
            <path fill="#2d3748" d="m0 224 48 10.7C96 245 192 267 288 240c96-27 192-101 288-96s192 91 288 101.3c96 10.7 192-53.3 288-90.6 96-37.7 192-47.7 240-53.4l48-5.3v224H0Z"></path>
        </svg>
        <div class="flex justify-center items-center text-xs text-gray-600 z-10 absolute w-full bottom-2 drop-shadow-md dark:text-white">
            2023 rudixops | All Rights Reserved ®
        </div>
    </div>
</div>