---
import DarkSwitchher from "./DarkSwitchher.astro";
---

<header>
    <div
        class="flex w-full items-center justify-center sm:justify-start md:justify-center"
    >
        <svg
            viewBox="0 0 1440 190"
            xmlns="http://www.w3.org/2000/svg"
            class="w-full block fill-gray-800 dark:fill-blue-500 absolute top-0 z-0"
            ><path
                d="M0 128h48c48 0 144 0 240-16s192-48 288-42.7c96 5.7 192 47.7 288 48 96-.3 192-42.3 288-42.6 96 .3 192 42.3 240 64l48 21.3V0H0z"
            ></path></svg
        ><div class="w-24 sm:w-24 md:w-fit relative z-10">
            <a href="https://kloun.lol/">
                <amp-img
                    layout="fixed"
                    src="/images/logodark.png"
                    alt=""
                    class="dark:sepia i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built i-amphtml-layout amp-notsupported"
                    width="140"
                    height="181"
                    i-amphtml-layout="fixed"
                    style="width: 140px; height: 181px; --loader-delay-offset: 296ms !important;"
                    ><img
                        decoding="async"
                        alt=""
                        src="/images/logodark.png"
                        class="i-amphtml-fill-content i-amphtml-replaced-content i-amphtml-ghost"
                    /></amp-img
                >
                <img
                    src="/images/logodark.png"
                    width="140"
                    height="181"
                    alt=""
                    class="absolute dark:grayscale blur-lg duration-500 dark:blur-none top-0"
                /></a
            >
        </div><ul
            tabindex="0"
            class="hidden sm:flex justify-end w-full items-center space-x-4 pr-2 -mt-12 z-10"
        >
            <li><a class="text-shadow font-bold" href="/">Начало</a></li><li>
                <a class="text-shadow font-bold" href="/vicove">Вицове</a>
            </li><li>
                <a class="text-shadow font-bold" href="/fb">Късметчета</a>
            </li><li>
                <DarkSwitchher />
            </li>
        </ul>
    </div><div class="z-40 top-0 fixed">
        <label
            class="cursor-pointer visible xs:visible sm:invisible backdrop-blur-sm bg-black/30 dark:bg-white/30 false"
            ><input type="checkbox" class="hidden" /><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8 m-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h7"></path></svg
            ></label
        ><div class="hidden">
            <ul
                tabindex="0"
                class="mt-3 w-52 p-2 shadow bg flex flex-col fixed top-8 left-2 rounded-md border-2 border-white dark:border-black gap-4"
            >
                <li><a class="text-shadow font-bold" href="/">Начало</a></li><li
                >
                    <a class="text-shadow font-bold" href="/vicove">Вицове</a>
                </li><li>
                    <a class="text-shadow font-bold" href="/fb">Късметчета</a>
                </li><li>
                    <DarkSwitchher />
                </li>
            </ul>
        </div>
    </div>
</header>

<script is:inline>
const theme = (() => {
    if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
    ) {
        return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "light";
    }
    return "dark";
})();

localStorage.setItem("theme", theme);

var themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon");
var themeToggleLightIcon = document.getElementById(
    "theme-toggle-light-icon"
);

// Change the icons inside the button based on previous settings
if (
    localStorage.getItem("theme") === "dark" ||
    (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
) {
    themeToggleLightIcon.classList.remove("hidden");
} else {
    themeToggleDarkIcon.classList.remove("hidden");
}

var themeToggleBtn = document.getElementById("theme-toggle");

themeToggleBtn.addEventListener("click", function () {
    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle("hidden");
    themeToggleLightIcon.classList.toggle("hidden");

    // if set via local storage previously
    if (localStorage.getItem("theme")) {
        if (localStorage.getItem("theme") === "light") {
            document.documentElement.classList.add("dark");
            localStorage.setItem("theme", "dark");
        } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("theme", "light");
        }

        // if NOT set via local storage previously
    } else {
        if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("theme", "light");
            } else {
                document.documentElement.classList.add("dark");
                localStorage.setItem("theme", "dark");
            }
        }
    });
</script>
