@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Museo";
  font-style: normal;
  font-weight: 900;
  src: url("/font/12a98aeede84cc93a1c30d486433c810.woff2") format("woff2"),
    url("/font/12a98aeede84cc93a1c30d486433c810.woff") format("woff");
}
@font-face {
  font-family: "Ember";
  font-style: normal;
  font-weight: 900;
  src: url("/font/Ember.woff2") format("woff2"),
    url("/font/Ember.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  src: url("/font/Nunito-ExtraLight.woff2") format("woff2"),
    url("/font/Nunito-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Nunito-Regular.woff2") format("woff2"),
    url("/font/Nunito-Regular.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/font/Nunito-Bold.woff2") format("woff2"),
    url("/font/Nunito-Bold.woff") format("woff");
}

@layer components {
  body {
    @apply scroll-smooth inset-0 z-20 m-0  duration-500  bg-gray-900  p-0 text-base  text-gray-400 dark:bg-gray-400 dark:text-gray-800;
    font-family: "Nunito" !important;
  }
  .bg {
    @apply bg-gray-900 dark:bg-gray-400;
  }
  .ember {
    @apply text-gray-400 dark:text-gray-800;
    font-family: "Ember" !important;
  }
  .bgaccent {
    @apply bg-gray-900 dark:bg-white;
  }
  .bginvert {
    @apply dark:bg-gray-900 bg-gray-400;
  }

  .fullscreenx {
    @apply absolute inset-0 z-20 m-0 h-screen w-screen bg-gray-900  p-0 text-base  text-gray-400 dark:bg-gray-400 dark:text-gray-800;
  }
  .btn1 {
    @apply w-full grow p-2 sm:w-1/3 md:h-1/4;
  }
  .btn1-count {
    @apply flex-none  rounded bg-purple-900 px-2 text-2xl font-extralight dark:bg-slate-300;
  }
  .btn1-wrap {
    @apply flex h-full items-center rounded bg-gray-800 p-4 dark:bg-slate-200;
  }
  .joke {
    @apply relative w-full grow p-2 md:w-1/2 lg:w-1/3;
  }
  .jokewrap {
    @apply flex h-full grow items-center rounded-lg border border-gray-800 bg-gray-900 p-4 py-5 text-gray-400 backdrop-blur-sm dark:border-gray-500 dark:bg-white dark:text-gray-900;
  }
  .joketop {
    @apply absolute left-2 z-10 float-left inline-flex items-center rounded-tl rounded-br bg-gray-800 py-2 px-4 font-bold text-gray-200 dark:bg-gray-500 dark:text-gray-800;
  }

  .jokebottom {
    @apply absolute right-2 float-right   inline-flex items-center rounded-tl rounded-br bg-gray-800 py-2 px-4 font-bold text-gray-200 shadow-lg;
    margin-top: -2.7rem;
  }
  .speech-bubble {
    @apply relative my-3 rounded-lg from-purple-900 to-pink-600 p-3;
  }
  .btndisabled {
    @apply btn btn-disabled;
  }
  .inputx {
    @apply input input-bordered input-accent bg-gray-800 dark:bg-white;
  }
  .inputerror {
    @apply input input-bordered input-secondary border-2 bg-gray-800 dark:bg-white;
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .text-shadow {
    text-shadow: 1px 1px 3px black;
  }
  .heading {
    font-family: "Museo" !important;
  }
  .rotateswap {
    @apply swap-rotate;
  }
  .textinput {
    @apply input input-bordered dark:bg-white;
  }
  .bg-google-blue {
    background-color: #4285f4;
  }
  .electric {
    background-color: rgb(33, 209, 121);
  }
  .drawer-side {
    background: none !important;
    border-radius: 8px;
  }
  .navlink {
    @apply uppercase  flex justify-center items-center;
  }
  .navlink a {
    @apply font-bold px-2;
  }
  .logotext {
    @apply heading float-left mx-2 text-4xl normal-case;
  }
  .dropselector {
    @apply select select-ghost w-full max-w-xs;
  }
  .btncircleone {
    @apply btn btn-ghost btn-circle;
  }
  h1 {
    @apply heading text-2xl font-extralight;
  }
  blockquote {
    @apply italic text-gray-400;
  }
  ol {
    @apply list-inside list-decimal;
  }
  ul {
    @apply list-inside list-disc;
  }
  ol,
  ul {
    @apply mb-2 rounded-lg border border-solid bg-gray-800 px-4 py-2 dark:bg-gray-500;
  }
  .editor-toolbar .image {
    @apply hidden;
  }

  .footerlink {
    @apply text-sm block;
  }
  .footerheadings {
    font-size: 1.35rem;
    font-weight: 200;
    text-transform: uppercase;
  }
  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .text-4xl {
    line-height: 2.5rem;
  }

  .text-5xl {
    line-height: 1;
  }
  .text-6xl {
    font-size: 4rem;
  }
  .text-8xl {
    font-size: 6rem;
    line-height: 1;
  }
  .stickysearch {
    position: sticky;
    top: 0;
    z-index: 10;
    @apply duration-500 bg-gray-900  p-0 text-base  text-gray-400 dark:bg-gray-400;
  }
  .stickyerror {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .fullgridcontaineritem {
    @apply col-span-1 sm:col-span-2 md:col-span-1 lg:col-span-3 xl:col-span-4  2xl:col-span-5 w-full;
  }

  .triangle {
    @apply overflow-hidden inline-block;
  }

  .triangle .item1 {
    @apply rotate-45 transform origin-bottom-left;
  }
  .triangle .item2 {
    @apply -rotate-45 transform origin-top-left;
  }
  .triangle .item3 {
    @apply -rotate-45 transform origin-top-right;
  }

  .triangle .item4 {
    @apply rotate-45 transform origin-top-left;
  }

  .triangle .item5 {
    @apply -rotate-45 transform origin-bottom-right;
  }

  .triangle .item6 {
    @apply rotate-45 transform origin-bottom-left;
  }

  .triangle .item7 {
    @apply -rotate-45 transform origin-top-left;
  }

  .triangle .item8 {
    @apply rotate-45 transform origin-top-right;
  }
  .img-outline {
    position: absolute;
    top: 4px;
    left: 4px;
    filter: brightness(100%) contrast(100%) saturate(100%);
  }

  .description .title .phone .price .images {
    display: none !importan;
  }
}

/* cyrillic-ext */
