@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer  {
	.bg {
		@apply bg-slate-900 dark:bg-gray-100 text-gray-400 dark:text-gray-900;
	}

	html {
		@apply m-0 p-0 bg;
		font-family: system-ui, sans-serif;
		height:100%;
	}
	body {
		width:100%;
	  }
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.hljs-attr {
		@apply hover:underline;
		color: #9CDCFE !important;
		font-weight: bold;
	}
	.hljs-string {
		color: #9fdb73 !important;
		font-weight: bold;
	}
	.hljs-punctuation {
		color: #cfcfcf !important;
		font-weight: bold;
		font-size: 0.8rem;
	}
}
 
#hero-lightpass img {
	width: 100%;
	height: auto;
}